.user_photo
{
	position: absolute;
	margin-top:205px !important;
	margin-top:206px\9 !important;
	margin-left:90px !important;
	margin-left:91px\9 !important;
	width:73px;
	padding:2px 0;
	z-index: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
	filter: alpha(opacity=0); /* IE 5-7 */
	-moz-opacity: 0; /* Netscape */
	-khtml-opacity: 0; /* Safari 1.x */
	opacity: 0; /* Good browsers */
}
.userImgPrevCon
{
	position:relative;
	border: 1px solid #c2c2c2;
	height: 230px;
	width: 163px;
	text-align: center;
}
.userImgPrev
{
	position:absolute;
	top:0%;bottom:0%; left:0; right:0;
	margin:auto;
	max-height: 230px;
	max-width: 161px;
    text-align:center;
}
.photobtn 
{
	background-color: #46504F;
	bottom: 0;
	color: #FFFFFF;
	cursor: pointer;
	font: 14px 'Conv_BebasNeue',Sans-Serif;
	padding: 2px 3px 1px 3px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 67px;
}
.photobtn:hover
{
	background-color: #ff0002;
}
